
doctype html
html 
  include includes/head.pug

  body
    if authorized
        include includes/navbar-2.pug
    if !authorized
        include includes/navbar-1.pug

    section.hero.is-primary.is-bold
      div.hero-body
        div.container.is-fluid
          h1.title #{user} is following <i class="em em-newspaper" aria-role="presentation" aria-label="NEWSPAPER"></i>
          h2.subtitle List of who #{user} is following
          div.columns.is-multiline
              div.column.is-one-third
                  div.box
                      article(class="notification has-background-white media")
                          figure(class="media-left")
                              a(href="/")
                                  span(class="icon")
                                      i(class="animated pulse fas fa-home fa-2x")
                          div(class="media-content")
                              a.button.is-white(href="/profile/" + user) Wanna go to their profile?
    br                          
    div.container.is-fluid
        each val in following_list
            div.row
                div.col-xs
                    div.box
                        article.media
                            figure.media-left
                                p.image.is-64x64
                                    img(src=avatar)
                            div.media-content
                                a(href="/profile/" + val)
                                    h1.subtitle.is-size-4 #{val}
    br
                        
    footer.footer
      div(class="content")
          p <strong>Sketchel</strong> © <strong>2019</strong>, made with <a href="https://bulma.io">Bulma</a>, <a href="https://expressjs.com/">Express</a> and <a href="https://pugjs.com/">Pug</a> & more libraries, and also <span class="icon has-text-danger"><i class="fas fa-heart"></i></span>.
          p <a href="/rules">Rules</a> | <a href="/terms">Terms of Service</a> | <a>Privacy Policy</a>                    
          p <strong>Quote:</strong> #{quote}                
