doctype html
html 
  include includes/head.pug
  
  body
    if authorized
        include includes/navbar-2.pug
    if !authorized
        include includes/navbar-1.pug
    
    div.container.is-fluid
        div.box
            div(align="center")
                figure.image
                    iframe(class="has-ratio", width="1039", height="483", src=image_url, frameborder="0", scrolling="no", style="overflow:hidden;")
                .media
                    .media-left
                        a(href="/profile/" + author)
                            figure.image.is-48x48
                                img(src="https://sketchel.art/api/v1/get-avatar/" + author)
                    .media-content
                        a(href="/profile/" + author)                        
                            p.title.is-4 #{author}
                            p.subtitle.is-6 Joined at <strong>#{joindate}</strong>
            br
            div.columns
                div.column.is-one-half
                    if is_disliked
                        a.button.is-danger.is-fullwidth.is-medium(href="/dislike/" + id) <i class="fas fa-thumbs-down"></i>&nbsp;Undislike&nbsp;<strong>#{dislikes}</strong>
                    if !is_disliked
                        a.button.is-danger.is-fullwidth.is-medium(href="/dislike/" + id) <i class="fas fa-thumbs-down"></i>&nbsp;Dislike&nbsp;<strong>#{dislikes}</strong>
                div.column.is-one-half
                    if is_liked

                        a.button.is-success.is-fullwidth.is-medium(href="/like/" + id) <i class="fas fa-thumbs-up"></i>&nbsp;Unlike&nbsp;<strong>#{likes}</strong>
                    if !is_liked    
                        a.button.is-success.is-fullwidth.is-medium(href="/like/" + id) <i class="fas fa-thumbs-up"></i>&nbsp;Like&nbsp;<strong>#{likes}</strong>                                       

    br
    include includes/footer.pug