
doctype html
html 
  include includes/head.pug

  body
    if authorized
        include includes/navbar-2.pug
    if !authorized
        include includes/navbar-1.pug

    if authorized
        div.container.is-fluid
            div.columns
                div.column
                    div.box
                        content.has-text-centered
                            article(class="notification has-background-white media")
                                figure(class="media-left")
                                    figure(class="image is-128x128")
                                        img(class="image is-128x128", src=avatar)  
                                div(class="media-content")
                                    span.tag.is-primary #{rank}
                                    h1.title.is-size-4 #{username}
                                    p.subtitle.is-size-5 #{bio}
                                    p.subtitle-is-size-5 Joined at <strong>#{joindate}</strong>

                        div(align="center")
                            div.buttons
                                a.button.is-primary(disabled) <strong>Follow</strong>&nbsp; #{followers}
                                a.button.is-primary(href="/following/" + username) <strong>Following</strong>&nbsp; #{following}
                                a.button.is-link(href="/profile/option/editbio")
                                    span.icon.is-small
                                            i.fas.fa-edit 
        br   
        div.container.is-fluid
            div.box
                h1.title This empty box is actually supposed to represent the animations of the user.
                h2.subtitle But I can't do that at the moment.
        br
    if !authorized 
        section.hero.is-danger.is-bold
            div.container.is-fluid
                div.hero-body
                    h1.title You need to be logged in to use this page. <i class="em em-bust_in_silhouette" aria-role="presentation" aria-label=""></i> 
                    h2.subtitle This is the profile page, you need an account to see this after all.
                    div.columns.is-multiline
                        div.column.is-one-third
                            div.box
                                article(class="notification has-background-white media")
                                    figure(class="media-left")
                                        a(href="/signup")
                                            span(class="icon")
                                                i(class="animated pulse fas fa-user-plus fa-2x")
                                    div(class="media-content")
                                        a.button.is-white(href="/signup") Let's get started. 
                        div.column.is-one-third
                            div.box
                                article(class="notification has-background-white media")
                                    figure(class="media-left")
                                        a(href="/login")
                                            span(class="icon")
                                                i(class="animated pulse fas fa-sign-in-alt fa-2x")
                                    div(class="media-content")
                                        a.button.is-white(href="/login") Or, login here.  
                                        
    footer.footer
      div(class="content")
          p <strong>Sketchel</strong> © <strong>2019</strong>, made with <a href="https://bulma.io">Bulma</a>, <a href="https://expressjs.com/">Express</a> and <a href="https://pugjs.com/">Pug</a> & more libraries, and also <span class="icon has-text-danger"><i class="fas fa-heart"></i></span>.
          p <a href="/rules">Rules</a> | <a href="/terms">Terms of Service</a> | <a>Privacy Policy</a>                    
          p <strong>Quote:</strong> #{quote}                