doctype html
html 
  include includes/head.pug
  body
    if !authorized 
        section.hero.is-medium.is-danger.is-bold
            div.container
                div.hero-head
                    if authorized
                        include includes/navbar-2 
                    if !authorized
                        include includes/navbar-1  
                div.hero-body
                    h1.title You need to be logged in to use this page. <i class="em em-bust_in_silhouette" aria-role="presentation" aria-label=""></i> 
                    h2.subtitle You're trying to visit a page you need to be logged into to use.
                    div.field
                        p.control
                            a(href="/signup") 
                                button.button.is-danger.is-rounded Register for Sketchel here.
                                
                            a(href="/login") 
                                button.button.is-danger.is-rounded Or, you can login here.
    if authorized
        script(src="/js/modal.js", type="text/javascript", crossorigin="anonymous")
        script(src="/js/autolink.js", type="text/javascript", crossorigin="anonymous")
        div.modal.is-clipped(id="profileModal")
            div.modal-background
            div.modal-card
                header.modal-card-head
                    p.modal-card-title Edit profile
                    button.button.is-small(aria-label="close", id="exitModal", data-target="profileModal")
                        span.icon.is-small
                            i.fas.fa-times
                section.modal-card-body
                    form(method="POST", action="/profile/submit-changes")
                        p Bio
                            div.field
                                p.control
                                    textarea.textarea(name="bio", placeholder="Say something about yourself, like, you like doing backflips, or something.")
                        div.buttons
                            input(class="button is-success is-rounded", type="submit", value="Save Changes")   

        div.modal.is-clipped(id="followingModal")
            div.modal-background
            div.modal-card
                header.modal-card-head
                    p.modal-card-title #{username} is Following
                    button.button.is-small(aria-label="close", id="exitFollowingModal", data-target="followingModal")
                        span.icon.is-small
                            i.fas.fa-times
                section.modal-card-body
                    if (typeof(following_list) !== 'undefined')
                        each val in following_list
                            div.box
                                .media
                                    .media-left
                                        a(href="/profile/" + val)
                                            figure.image.is-64x64
                                                img(src="https://sketchel.art/api/v1/get-avatar/" + val)
                                    .media-content
                                        a(href="/profile/" + val)
                                            p.title.is-4 #{val} 
        div.modal.is-clipped(id="followerModal")
            div.modal-background
            div.modal-card
                header.modal-card-head
                    p.modal-card-title #{username}'s Followers
                    button.button.is-small(aria-label="close", id="exitFollowerModal", data-target="followerModal")
                        span.icon.is-small
                            i.fas.fa-times
                section.modal-card-body
                    each val in follower_list
                        div.box
                            .media
                                .media-left
                                    a(href="/profile/" + val)
                                        figure.image.is-64x64
                                            img(src="https://sketchel.art/api/v1/get-avatar/" + val)
                                .media-content
                                    a(href="/profile/" + val)
                                        p.title.is-4 #{val}   
                                          

        div.container
            div.hero-head
                if authorized
                    include includes/navbar-2 
                if !authorized
                    include includes/navbar-1 
            div.columns.is-multiline
                .column.is-two-fifths
                    div.card
                        div.card-image
                            figure.image.is-4by3
                                img(src="https://bulma.io/images/placeholders/1280x960.png")
                        .card-content  
                            .media
                                .media-left
                                    figure.image.is-64x64
                                        img(src=avatar, style="border-radius: 50px;box-shadow: 0 0 2px black;")
                                .media-content
                                    p.title.is-4 #{username}
                                    p.subtitle.is-6 Joined at <strong>#{joindate}</strong>
                            div.content.has-text-centered
                                p(id="bio") #{bio}
                            div.container.is-fluid
                                hr
                            nav.level
                                .level-item.has-text-centered
                                    a.button.is-white(data-target="followerModal", id="openFollowerModal")
                                        div
                                            p.heading Followers
                                            p.title.is-5 #{followers} 
                                .level-item.has-text-centered
                                    a.button.is-white(data-target="followingModal", id="openFollowingModal")
                                        div
                                            p.heading Following
                                            p.title.is-5 #{following}  
                    br
                    a.button.is-primary.is-fullwidth(data-target="profileModal", id="showModal") Edit profile                                                                     
                div.column
                    div.columns.is-multiline
                        if (typeof(posts) !== 'undefined')
                            each val in posts
                                div.column.is-one-third
                                    a(href="https://sketchel.art/post/" + val)
                                        div.box
                                            figure.image.is-4by3
                                                img(src="https://sketchel.art/cdn/" + val + ".png") 
                        else
                            div.column.is-one-third
                                div.box
                                    h2.subtitle You have no posts.
                               
    br
    include includes/footer
