doctype html
html 
  include includes/head.pug
  body
    if authorized
        include includes/navbar-2 
    if !authorized
        include includes/navbar-1    

    if !authorized 
        section.hero.is-medium.is-danger.is-bold
            div.container.is-fluid
                div.hero-body
                    h1.title You need to be logged in to use this page. <i class="em em-bust_in_silhouette" aria-role="presentation" aria-label=""></i> 
                    h2.subtitle You're trying to visit a page you need to be logged into to use.
                    div.field
                        p.control
                            a(href="/signup") 
                                button.button.is-danger.is-rounded Register for Sketchel here.
                                
                            a(href="/login") 
                                button.button.is-danger.is-rounded Or, you can login here.
    if authorized
        script(src="/js/modal.js", type="text/javascript", crossorigin="anonymous")
        script(src="/js/autolink.js", type="text/javascript", crossorigin="anonymous")
        div.modal.is-clipped(id="followingModal")
            div.modal-background
            div.modal-card
                header.modal-card-head
                    p.modal-card-title #{user} is Following
                    button.button.is-small(aria-label="close", id="exitFollowingModal", data-target="followingModal")
                        span.icon.is-small
                            i.fas.fa-times
                section.modal-card-body
                    each val in following_list
                        div.box
                            .media
                                .media-left
                                    a(href="/profile/" + val)
                                        figure.image.is-64x64
                                            img(src="https://sketchel.art/api/v1/get-avatar/" + val)
                                .media-content
                                    a(href="/profile/" + val)
                                        if rank = "owner"
                                            p.title.is-4 #{val}   
                                        else 
                                            p.title.is-4 #{val} 
        div.modal.is-clipped(id="followerModal")
            div.modal-background
            div.modal-card
                header.modal-card-head
                    p.modal-card-title #{user}'s Followers
                    button.button.is-small(aria-label="close", id="exitFollowerModal", data-target="followerModal")
                        span.icon.is-small
                            i.fas.fa-times
                section.modal-card-body
                    each val in follower_list
                        div.box
                            .media
                                .media-left
                                    a(href="/profile/" + val)
                                        figure.image.is-64x64
                                            img(src="https://sketchel.art/api/v1/get-avatar/" + val)
                                .media-content
                                    a(href="/profile/" + val)
                                        if rank = "owner"
                                            p.title.is-4 #{val}   
                                        else 
                                            p.title.is-4 #{val}                                             


        div.container.is-fluid
            div.columns.is-multiline
                .column.is-one-quarter
                    div.card
                        div.card-image
                            figure.image.is-4by3
                                img(src="https://bulma.io/images/placeholders/1280x960.png")
                        .card-content  
                            .media
                                .media-left
                                    figure.image.is-64x64
                                        img(src=avatar)
                                .media-content
                                    if rank = "owner"
                                        p.title.is-4 #{user}   
                                    else 
                                        p.title.is-4 #{user}
                                    p.subtitle.is-6 Joined at <strong>#{joindate}</strong>
                            div.content.has-text-centered
                                p(id="bio") #{bio}
                            div.container.is-fluid
                                hr
                            nav.level
                                .level-item.has-text-centered
                                    a.button.is-white(data-target="followerModal", id="openFollowerModal")
                                        div
                                            p.heading Followers
                                            p.title.is-5 #{followers} 
                                .level-item.has-text-centered
                                    a.button.is-white(data-target="followingModal", id="openFollowingModal")
                                        div
                                            p.heading Following
                                            p.title.is-5 #{following}  
                    br
                    div.buttons
                        if is_followed
                            a.button.is-primary.is-fullwidth(href="/unfollow/" + user) Unfollow   
                        if !is_followed                                         
                            a.button.is-primary.is-fullwidth(href="/follow/" + user) Follow                  
                div.column
                    div.columns.is-multiline
                        each val in posts
                            div.column.is-one-third
                                a(href="https://sketchel.art/post/" + val)
                                    div.box
                                        figure.image.is-4by3
                                            img(src="https://sketchel.art/cdn/" + val + ".png") 
                        else
                            - var msg = true
                    if msg 
                        .container.is-fluid
                            h1.title #{user} has no posts, how sad.              
                

    br
    include includes/footer.pug     